// CUSTOMIZE IS NOT FULL IMPLEMENTED !!
// Use these settings to help adjust the appearance

// BACKGROUND COLORS

$nav-bg: #212745 !default;
$examples-bg: #212745 !default;
$code-bg: rgba(40, 48, 70, 0.7) !default;
$code-annotation-bg: #191D1F !default;
$nav-subitem-bg: #212745 !default;
$nav-active-bg: rgb(250, 206, 116) !default;
$nav-active-parent-bg: #212745 !default; // parent links of the current section
$lang-select-border: #191D1F !default;
$lang-select-bg: #1E2224 !default;
$lang-select-active-bg: $examples-bg !default; // feel free to change this to blue or something
$lang-select-pressed-bg: #191D1F !default; // color of language tab bg when mouse is pressed
$main-bg: #212745 !default;
$aside-notice-bg: #2a9bd8 !default;
$aside-warning-bg: #cc3038 !default;
$aside-success-bg: #388e3c !default;
$search-notice-bg: #cf3038 !default;


// TEXT COLORS

$main-text: #eff !default; // main content text color
$nav-text: #fff !default;
$nav-active-text: #191D1F !default;
$nav-active-parent-text: #fff !default; // parent links of the current section
$lang-select-text: #fff !default; // color of unselected language tab text
$lang-select-active-text: #fff !default; // color of selected language tab text
$lang-select-pressed-text: #fff !default; // color of language tab text when mouse is pressed


// SIZES

$nav-width: 240px !default; // width of the navbar
$examples-width: 50% !default; // portion of the screen taken up by code examples
$logo-margin: 1em auto !default; // margin below logo
$main-padding: 30px !default; // padding to left and right of content & examples
$nav-padding: 20px !default; // padding to left and right of navbar
$nav-v-padding: 20px !default; // padding used vertically around search boxes and results
$nav-indent: 20px !default; // extra padding for ToC subitems
$toc-menu-title: 15px !default; // Toc Menu Title below nav
$code-annotation-padding: 15px !default; // padding inside code annotations
$h1-margin-bottom: 20px !default; // padding under the largest header tags
$hero-title: 27px !default;
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size


// FONTS

%default-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",  "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 14px;
}

%header-font {
  @extend %default-font;
  font-weight: lighter;
}

%code-font {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 13px;
  line-height: 1.5;
}


// OTHER
$nav-footer-border-color: #212745 !default;
$search-box-border-color: #ABC !default;
$table-th-border-color: #191D1F !default;



// INTERNAL
// These settings are probably best left alone.

%break-words {
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
