@charset "utf-8";
@import 'normalize';
@import 'variables';

// ------------------------------------------------------------ ATTENTION
// MERGED PROTOTYPE STYLE
// NOT FULL IMPLEMENTED
// ------------------------------------------------------------ GENERAL STUFF

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: $main-bg linear-gradient(to bottom, rgba(#000, 0.3), rgba(#212745, 0)) no-repeat top center fixed;
  background-size: cover;
  height: 100%;
	-webkit-tap-highlight-color: #face74;
}

// ------------------------------------------------------------ Webkit Scrollbar

::-webkit-scrollbar {
	background: #403020;
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		 background: #face74b4;
		box-shadow: inset 0px 4px 0px 4px #272727;
		border-radius: 0px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #face7488;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #face74cc;
	}

	::-webkit-scrollbar-thumb:active {
		background: linear-gradient(left, #272727, #face74);
	  }
	::-webkit-scrollbar-corner {
		border:none;
	}
	/* transparent resizer */
	::-webkit-resizer {
		background-color:transparent;
	}

html, body {
  color: $main-text;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %default-font;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

a {
  color:#face74;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
	color: #fff;
	-webkit-transition: color 0.5s;
  transition: color 0.5s;
  outline: 0;
}

// ------------------------------------------------------------ TOPBAR

.module-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #111127;;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.74);
-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.74);
box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.74);
}
.topbar-logo {
  float: left;
  text-align: left;
  width: 10%;
}
.topbar-logo .logo {
  font-size:25px;
  background-size: 42px 42px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.topbar-index {
  float: right;
  max-width: 20%;
  text-align: right;
  white-space: nowrap;
}

.topbar-index .topbar-index-tree {
  border-left: 1px solid #3d3c3c;
  background-color: #111127;;
  display: inline-block;
  line-height: 50px;
  width: 100%;
  text-align: center;
}
.topbar-index .topbar-index-tree .branch-id {
  padding: 0 30px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  text-overflow: ellipsis;
}
.topbar-search {
  display: inline-block;
  margin: 0 auto;
}
.topbar-search .topbar-search-form {
  display: flex;
  margin: 11px auto 0;
  position: relative;
}

.topbar-search .topbar-search-form .search-input-field {
  background: #111 url('https://api.iconify.design/mdi-light:magnify.svg?color=%23face74') no-repeat center center / contain;
  border: 1px solid #212745;
  color: #face74;
  font-size: 1.15em;
  font-family: Inconsolata,monospace;
  height: 30px;
  width: 100%;
  padding: 0 50px;
  background-position-x: 5px;
  background-position-y: 0px;
}

.topbar-search .topbar-search-form .search-clear-button {
  flex-grow: 1;
  background: url('https://api.iconify.design/mdi-light:delete.svg?color=%23face74') no-repeat center center / contain;
  border: 0;
  color: #face74;
  cursor: pointer;
  padding: 12px;
  position: absolute;
  right: 0;
  opacity: .74;
}
.topbar-search .search-options {
  position: relative;
  top: 10px;
  list-style-type: none;
  background: #111127;
  border: 1px solid #504b4b;
  /* border-bottom: none; */
}
.module-topbar .topbar-search .search-option {
  text-align: left;
  line-height: 24px;
  padding: 5px 0 5px 42px;
  color: #9b9b9b;
  border: 1px solid #363636;
  max-width: 304px;
  cursor: pointer;
  font-size: 1.15em;
  font-family: Inconsolata,monospace;
}
.module-topbar .topbar-search .search-option {
  text-align: left;
  line-height: 24px;
  padding: 5px 0 5px 42px;
  color: #9b9b9b;
  border: 1px solid #363636;
  max-width: 304px;
  cursor: pointer;
  font-size: 1.15em;
  font-family: Inconsolata,monospace;
}
.hidden {
  display: none!important;
}

@media (max-width: 812px) {
  .module-topbar {
    position: unset;
    flex-flow: row wrap;
    height: unset;
    line-height: unset;
    min-height: 40px;
  }
  .module-topbar .topbar-logo {
    float: left;
    text-align: left;
    width: 10%;
    visibility: hidden;
  }
  .module-topbar .topbar-search {
    width: 100%;
    order: 1;
  }
  .module-topbar .topbar-search .topbar-search-form {
    margin: 16px;
  }
  .module-topbar .topbar-search .topbar-search-form .search-input-field {
    width: 100%;
  }
  .module-topbar .topbar-search .search-options {
    top: -17px;
    margin: 16px;
  }
  .module-topbar .topbar-search .search-options .search-option {
    max-width: unset;
  }

  .module-topbar .topbar-index {
      max-width: 65%;
  }
  .module-topbar .topbar-index .topbar-index-tree {
    border: none;
  }
  .module-topbar .topbar-index .topbar-index-tree .branch-id {
    line-height: 50px;
    border: none;
  }
}

// ------------------------------------------------------------ Search Results

.search-results {
  margin-top: 0;
  box-sizing: border-box;
  height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition-property: height, margin;
  transition-duration: 180ms;
  transition-timing-function: ease-in-out;
  background: $nav-subitem-bg;
  &.visible {
    height: 20%;
    margin-bottom: 1em;
    z-index: 100;
  }

  li {
    margin: 1em $nav-padding;
    line-height: 1;
  }

  a {
    color: $nav-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


// ------------------------------------------------------------ TABLE OF CONTENTS

#toc > ul > li > a > span {
  float: right;
  background-color: #2484FF;
  border-radius: 40px;
  width: 20px;
}

.toc-wrapper {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 50px;
  left: 0;
  bottom: 0;
  width: $nav-width;
  font-size: 15px;
  padding: 1em;
  margin-top: 1em;

  .toc-menu-title {
  font: $toc-menu-title;
  }
// ------------------------------------------------------------ Code language selector for mobile devices

  .lang-selector {
    display: none;
    a {
      padding: 0.5em 0;
    }
  }

// ------------------------------------------------------------ TOC Menu
  // is composed of multiple nested
  // unordered lists.  These styles remove the default
  // styling of an unordered list because it is ugly.
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 25px;
  }

  li {
    color: $nav-text;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }

  // This is the currently selected ToC entry
  .toc-link.active {
    border-left: 5px solid $nav-active-bg;
    color: $nav-active-bg;
  }

  // this is parent links of the currently selected ToC entry
  .toc-link.active-parent {
    border-left: 5px solid $nav-active-parent-bg;
    color: $nav-active-parent-text;
  }

  .toc-list-h2 {
    display: none;
    border-left: 5px solid $nav-subitem-bg;
    font-weight: lighter;
  }

  .toc-h2 {
    padding-left: $nav-padding + $nav-indent;
    font-size: 14px;
  }

  .toc-list-h3 {
    display: none;
    background-color: $nav-subitem-bg;
  }

  .toc-h3 {
    padding-left: $nav-padding + $nav-padding + $nav-indent;
    font-size: 14px;
  }

// ------------------------------------------------------------ Footer links to XOOPS Cube Project
  .toc-footer {
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px dotted $nav-footer-border-color;

    li,a {
      color: $nav-text;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      font-size: 0.85em;
      line-height: 1.7;
      text-decoration: none;
    }
  }
}

.toc-link, .toc-footer li {
  padding: 0 $nav-padding 0 $nav-padding;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  transition-property: background;
  transition-timing-function: linear;
  transition-duration: 130ms;
}

// ------------------------------------------------------------ Navigation on mobile devices

#nav-button {
  span {
    display: block;
    $side-pad: $main-padding / 2 - 8px;
    padding: $side-pad $side-pad $side-pad;
    background-color: #1d1d1d;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100%, 0);
    border-radius: 0 0 0 5px;
  }
  padding: 0 1em 1em 0; // trick increase touch size area
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: $nav-active-bg;
  text-decoration: none;
  font-weight: normal;
  opacity: 0.7;
  line-height: 20px;
  img {
    height: 25px;
    vertical-align: bottom;
  }

  transition: left 0.3s ease-in-out;

  &:hover { opacity: 1; }
  &.open {left: $nav-width}
}

// ------------------------------------------------------------ PAGE LAYOUT AND CODE SAMPLE BACKGROUND

.page-wrapper {
  margin-left: $nav-width;
  position: relative;
  z-index: 10;
  /* background-color: $main-bg; */
  min-height: 100%;

  padding-bottom: 1px; // prevent margin overflow

  // The code-right column is for the code samples.
  // It is under the actual content block.
  // The background is transparent.
  // It's a simple hack to make the left.
  .code-right {
    width: $examples-width;
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
  }

  .lang-selector {
    position: fixed;
    z-index: 50;
    border-bottom: 5px solid $lang-select-active-bg;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.74);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.74);
  }
}

.lang-selector {
  background-color: #1d1d1d;
  width: 100%;
  a {
    display: block;
    float:left;
    color: $lang-select-text;
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    outline: 0;

    &:active, &:focus {
      background-color: $lang-select-pressed-bg;
      color: $lang-select-pressed-text;
    }

    &.active {
      background-color: $lang-select-active-bg;
      color: $lang-select-active-text;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

// ------------------------------------------------------------ CONTENT STYLES
// This is the left side of the page

.content {
  // fixes webkit rendering bug
  -webkit-transform: translateZ(0);
  // to place content above the code box
  position: relative;
  padding-top: 2em;
  z-index: 30;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>p, &>table, &>ul, &>ol, &>aside, &>dl {
    margin-right: $examples-width;
    padding: 0 $main-padding;
    box-sizing: border-box;
    display: block;
    @extend %left-col;
  }
  // The div is the TOC hidden div for placeholding stuff
  & > h1,
  & > h2,
  & > h3,
  & > div {
    clear: both;
  }
  &>ul, &>ol {
    padding-left: $main-padding + 15px;
  }
  h1:first-child, div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
  }
  h2 {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight:lighter;
  }
  h1 + h2, h1 + div + h2 {
    margin-top: $h1-margin-bottom * -1;
    border-top: none;
  }
  h2, h3, h4, h5, h6 {
    @extend %header-font;
    font-size: 15px;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
  }
  h4, h5, h6 {
    font-size: 10px;
  }
  hr {
    margin: 2em 0;
    border-top: 2px solid $examples-bg;
    border-bottom: 2px solid $main-bg;
  }
  table {
    margin: 1em auto;
    /* overflow: auto; */
    th,td {
      text-align: left;
      vertical-align: top;
      line-height: 1.6;
      code {
        white-space: nowrap;
      }
    }
    th {
      padding: 5px 10px;
      border-bottom: 1px solid $table-th-border-color;
      vertical-align: bottom;
    }
    td {
      padding: 10px;
    }
    tr:last-child {
      border-bottom: 1px solid $table-th-border-color;
    }
    tr:nth-child(odd)>td {
      background-color: lighten($main-bg,4.2%);
    }
    tr:nth-child(even)>td {
      background-color: lighten($main-bg,2.4%);
    }
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 15px;
  }
  p, li, dt, dd {
    line-height: 1.6;
    margin-top: 0;
  }
  img {
    max-width: 100%;
  }
  code {
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
    @extend %break-words;
    @extend %code-font;
  }
  pre>code {
    background-color: transparent;
    padding: 0;
  }
  aside {
    float:left;
    padding: 1em;
    margin: 1.5em;
    /* width:50%; */
    background: $aside-notice-bg;
    line-height: 1.7;
    &.warning {
      background-color: $aside-warning-bg;
    }
    &.success {
      background-color: $aside-success-bg;
    }
  }
  aside:before {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 14px;
  }
  .search-highlight {
    padding: 2px;
    margin: -3px;
    border-radius: 4px;
    border: 1px solid #FACE74;
    background: linear-gradient(to top left, #FACE74 0%, #FACE74 100%);
  }
}

// ------------------------------------------------------------ CODE SAMPLE STYLES
// The right side of the page

.content {
  pre, blockquote {
    background-color: $code-bg;
    border-radius:7px;
    color: #fff;
    margin: 1em;
    width: $examples-width;
    float:right;
    clear:right;
    box-sizing: border-box;
    @extend %right-col;
    &>p { margin: 0; }
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: dashed 1px #ccc;
    }
  }
  pre {
    @extend %code-font;
    padding-top: 2em;
    padding-bottom: 2em;
    padding: 2em $main-padding;
  }
  blockquote {
    &>p {
      background-color: $code-annotation-bg;
      padding: $code-annotation-padding 2em;
      color: #eee;    border-top-right-radius: var(--border-radius-8);
      border-radius: 7px;
    }
  }
}

// ------------------------------------------------------------ Frontpage Navigation

.nav-header {
  padding: 10px 0;
  margin-bottom: 2.5em;
  background: #111;
  height: 70px;
}
  .navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #5E35B1 0%, #1976d2   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height:270px;
    padding-bottom: 200px;
  }
  .navmain {
    list-style-type: none;
  }
  .navmain li {
    text-align: center;
    margin: 15px auto;
  }
  .nav-links,
  .logo {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
  }
  .logo {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
  }
  .active {
    display: block;
  }

// ------------------------------------------------------------ INDEX PAGE

.index-page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  font-size:$hero-title;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
  }

.home-cta {
  text-align: left;
  padding:1em 2.5em;
  margin-bottom: 30px;
}
// ------------------------------------------------------------ CARD

.card-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.study-card {
  background: $main-bg;
  border-radius: 5px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
  margin:0 1em;
}

.study-card .study-card-image {
  position: relative;
  top: -20px;
}

.study-card img {
  max-width: 100%;
  max-height: 100%;
  border:0;
  position: relative;
  top: -20px;
}

.study-blurb {
  position: relative;
  bottom: 0;
  /* background: #455a64; */
  /* min-height: 250px; */
}

.study-blurb > h2 {
  font-size: 25px;
  margin-bottom: 1em;
}

.card-sticky-button {
  position: relative;
}

// ------------------------------------------------------------ BUTTON

a.btn {
  border-radius: 5px;
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
}
a.btn-primary {
  color: #fff;
  background-color: #388e3c;
  border-color: #8BC34A;
  transition: background-color 0.1s ease;
}
a.btn-primary:hover {
  background-color: #8BC34A;
}
a.btn-big {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

// ------------------------------------------------------------ Footer Flex columns
// Footer Links
// Footer Credits

.flex-sub-container {
  width: 100%;
  margin: 0;
  padding:74px 0;
  background: #121827;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
flex-row > h1.hero-tile {
  text-align: center;
  font-size: 27px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: $h1-margin-bottom;
  margin-top: 2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
  margin:0 1em;
}
.flex-column > h2 { margin: 1.2em 0;}

.flex-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding: 20px;
}
.flex-space {
  justify-content: space-around;
}
.flex-border {
  border: 1px solid #4e4e4e;
  border-radius: 8px;
}
.flex-row {
  position: relative;
  legend {
    margin-top: 20px;
    color: #a4aeb3;
    font-size: 13px;
    line-height: 18px;
  }
}
.flex-link-list {
  list-style-type: none;
}

// ------------------------------------------------------------ Top Navigation

.top-nav {
  border-radius:7px;
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
  display: none;
  z-index:1000;
}
.top-nav:hover {
  color:#111;
	background-color:#face74;
}

// ------------------------------------------------------------ Media Screen, Tablet, Phone

@media (min-width: 1200px) {
    .index-page {
        max-width: 1140px;
   }
/*    .container {
    max-width: 1140px;
  } */
}

  @media (min-width: 992px) {
    .index-page {
        max-width: 960px;
   }
}

@media (min-width: 1000px) {
  .study-card {
      position: relative;
  }
/*   .study-card .study-card-image {
      min-height: 230px;
    } */
}

// ------------------------------------------------------------ Browser 768

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 270px;
      padding-bottom: 200px;
      align-items: center;
  }
  .navmain {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }
  .navmain li {
      margin: 0;
  }
  .nav-links {
      margin-left: 40px;
  }
  .logo {
      margin-top: 0;
  }
 .navbar-toggle {
     display: none;
  }
  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

// ------------------------------------------------------------ Media Tablet
// The styles for phones and tablets

@media (max-width: $tablet-width) {
  .toc-wrapper {
    left: -$nav-width;
    top: -15px;

    &.open {
      background: #1d1d1d;
      left: 0;
    }
  }
  .toc-wrapper .lang-selector {
    margin:0 0 1em 0;
    position: relative;
    display: block;
    top: -15px;
    left:-5px;
    font-size:13px;
    border-bottom: 5px solid $lang-select-active-bg;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.74);
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.74);
  }
  .page-wrapper .lang-selector {
    position: relative;
    display: block;
  }
  .toc-wrapper .lang-selector a {
    padding: 5px 8px;
  }

  .page-wrapper {
    margin-left: 0;
  }
  #nav-button {
    display: block;
  }
  .toc-link {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  .index-page {
    max-width: 720px;
  }
  .study-card {
    width: 100%;
    margin-bottom: 10px;
  }
  .flex-column {
    flex: 1
  }
  .flex-double-column {
    flex: 1
  }
  table {
    margin: 1em auto;
    width:100%;
  }
}

// ------------------------------------------------------------ Media PHONE

@media (max-width: $phone-width) {
  .code-right {
   display: none;
  }
  %left-col {
    margin-right: 1em;
  }
  .page-wrapper .lang-selector {
    display: none;
  }
  .index-page {
    max-width: 540px;
  }
  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }
  .container {
    max-width: 540px;
  }

  .flex-column {
    flex: 1
  }
  .flex-double-column {
    flex: 1
  }
  table {
    margin: 1em auto;
    width:100%;
  }
}

// ------------------------------------------------------------ Highlight

.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #909090;
}
.highlight, .highlight .w {
  background-color: $code-bg;
}
