<%
  @links = {
    project: [
      {
        name: 'XOOPS Cube Project',
        url: 'https://github.com/xoopscube/'
      },
      {
        name: 'XCL Web App',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Development',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Guidelines',
        url: 'https://github.com/xoopscube/xcl'
      },
    ],
    getting_help: [
      {
        name: 'Documentation',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Wiki',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'FAQ',
        url: 'https://github.com/xoopscube/xcl'
      }
    ],
    partners: [
      {
        name: 'Developer',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Designer',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Find a partner',
        url: 'https://github.com/xoopscube/xcl'
      },
      {
        name: 'Support',
        url: 'https://github.com/xoopscube/xcl'
      }
    ]
  }
%>

<div class="flex-sub-container">

    <div class="index-page">

        <div class="flex-row flex-space">

          <div class="flex-column flex-border">
          Travel time to the nearest repo
          </div>

          <div class="flex-column flex-border">
          How to do it
          </div>

          <div class="flex-column flex-border">
          Open Source Spirit
          </div>

        </div><!-- flex-container -->

          <!-- json content -->
          <div class="flex-row flex-space">

              <% @links.each_pair do |key, value| %>
                <div class="flex-column">
                <h4><%= key.to_s.titleize %></h4>
                  <ul class="flex-link-list">
                    <% value.each do |link| %>
                      <li><a href="<%= link[:url] %>" target="_blank"><%= link[:name] %></a></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

          </div><!-- json content -->

          <!-- fotter credits -->
          <div class="flex-row flex-space">

            <div class="footer-cube">
            <span>
            <a target="_blank" href="https://github.com/xoopscube/xcl/" class="btn btn-big btn-primary" >Follow XCL</a>
            <legend>You'll get the latest activity from our development. Unsubscribe any time.</legend>
            </span>
            <span class="iconify" data-icon="uil:cube" data-inline="false"></span> XOOPS CUBE PROJECT 2019 <a href="https://github.com/xoopscube">github.com/xoopscube</a>


            </div>

          </div><!-- footer credits -->

    </div><!-- index-page content -->

  </div><!-- Flex-sub-container -->
