<div class="nav-header">

  <nav class="navbar">

  <span class="navbar-toggle" id="js-navbar-toggle">
  <span class="iconify" data-icon="mdi-light:menu" style="color: #face74;"></span>
</span>

  <a href="#" class="logo"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> XOOPS Cube</a>

  <ul class="navmain" id="js-menu">
      <li>
      <a href="/" class="nav-links"><span class="iconify" data-icon="uil:apps" data-inline="true"></span> Home</a>
      </li>
      <li>
          <a href="guides.html" class="nav-links"><span class="iconify" data-icon="uil:book-reader" data-inline="false"></span> Guides</a>
      </li>
      <li>
          <a href="docs.html" class="nav-links"><span class="iconify" data-icon="uil:books" data-inline="false"></span> Docs</a>
      </li>
      <li>
          <a href="https://github.com/xoopscube" class="nav-links" target="_blank"><span class="iconify" data-icon="fe:github" data-inline="false"></span> Github</a>
      </li>
  </ul>
</nav>

</div>
