  <div class="flex-row flex-space">
    <span class="hero-title">
      Getting Started with XCL Simple, Secure and Scalable Modular Architecture
    </span>
    </div>
    <div class="flex-row home-cta">
      <p><a href="./guides.html" class="btn btn-big btn-primary" >
          Contribute
      </a>
      <a href="./docs.html" class="btn btn-outline btn-big" >
      <%= I18n.t(:hello) %> World
      </a></p>
    </div>


