<div class="index-page">
  <div class="flex-row">
    <span class="hero-title">
      Getting Started with XCL Simple, Secure and Scalable Modular Architecture
    </span>
    <div class="home-cta">
      <a href="/guides.html" class="btn btn-big btn-primary" >
          Getting Started
      </a>
      <a href="/docs.html" class="btn btn-outline btn-big" >
      <%= I18n.t(:hello) %> World
      </a>
    </div>
  </div>
</div>
