---
title: Development

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - php
  - javascript

toc_footers:
- <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> Guides</strong>
- <a href='/guides/development.html'>Development</a>
- <a href='/guides/design.html'>Documentation</a>
- <a href='/guides/delivery.html'>Delivery</a>
- <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> XOOPSCUBE Project</strong>
- <a href='https://github.com/xoopscube/xcl'>XCL Web Application</a>
- <a href='https://github.com/xoopscube/documentation'>Documentation</a>
- <a href='https://github.com/xoopscube/modules'>Modules</a>
- <a href='https://github.com/xoopscube/themes'>Themes UI</a>
- <a href='https://github.com/xoopscube/i18n-language'>i18n-language</a>
- <a href='https://github.com/xoopscube/preload'>Preload Extensions</a>
- <a href='https://github.com/xoopscube/interface'>PHP Interfaces</a>

search: true
home: false
---

# Development

<%= I18n.t(:hello) %> World

<%= I18n.t(:title) %>

  hello: t(:hello) world

Welcome to the Item API! You can use our API to access Item API endpoints,
which can get information on various items of data in our database.

We have language bindings in Shell, PHP, and JavaScript!
You can view code examples and you can switch the programming language of the examples
with the tabs in the top right.

This example API documentation page was created with
to test. Feel free to edit it and use it as a base for your own API's documentation.

# Authentication

> To authorize, use this code:

```shell
# With shell, you can just pass the correct header with each request
curl "api_endpoint_here"
  -H "Authorization: userapi"
```

```javascript
const item = require('item');

let api = item.authorize('userapi');
```

> Make sure to replace `userapi` with your API key.

Item uses API keys to allow access to the API. You can register a new Item API key at our [developer portal](http://example.com/developers).

Item expects for the API key to be included in all API requests to the server in a header that looks like the following:

`Authorization: userapi`

<aside class="notice">
You must replace <code>userapi</code> with your personal API key.
</aside>

# Items

## Get All Items

```shell
curl "http://example.com/api/items"
  -H "Authorization: userapi"
```

```javascript
const item = require('item');

let api = item.authorize('userapi');
let items = api.items.get();
```

This endpoint retrieves all items.

### HTTP Request

`GET http://example.com/api/item`

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
include_files | false | If set to true, the result will also include files.
available | true | If set to false, the result will include files that have already been edited.

<aside class="success">
Remember — an item is a real data!
</aside>

## Get a Specific Item

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "firstname": "Joe",
  "lastname": "unknown",
  "group": 5,
  "permission": 10
}
```

This endpoint retrieves a specific kitten.

<aside class="warning">Inside HTML code blocks like this one, you can't use Markdown, so use <code>&lt;code&gt;</code> blocks to denote code.</aside>

### HTTP Request

`GET http://example.com/item/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the item to retrieve

## Delete a Specific Item


> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "deleted" : ":("
}
```

This endpoint deletes a specific item.

### HTTP Request

`DELETE http://example.com/items/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the item to delete

<%= partial "/guides/footer" %>
