---
title: Documentation

language_tabs: # must be one of https://git.io/vQNgJ
  - php
  - smarty
  - html
  - javascript

toc_footers:
  - <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> Guides</strong>
  - <a href='/guides/development.html'>Development</a>
  - <a href='/guides/design.html'>Documentation</a>
  - <a href='/guides/delivery.html'>Delivery</a>
  - <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> XOOPSCUBE Project</strong>
  - <a href='https://github.com/xoopscube/xcl'>XCL Web Application</a>
  - <a href='https://github.com/xoopscube/documentation'>Documentation</a>
  - <a href='https://github.com/xoopscube/modules'>Modules</a>
  - <a href='https://github.com/xoopscube/themes'>Themes UI</a>
  - <a href='https://github.com/xoopscube/i18n-language'>i18n-language</a>
  - <a href='https://github.com/xoopscube/preload'>Preload Extensions</a>
  - <a href='https://github.com/xoopscube/interface'>PHP Interfaces</a>

search: true
home: false
---

# Getting Started

This website documents the public API for [XOOPS Cube](https://github.com/xoopscube)

You can view code examples in the page area to the right; switch the programming language of the examples with the tabs in the top right.

If anything is missing or seems incorrect, please check the [GitHub issues](https://github.com/xoopscube/documentation/issues)
for existing known issues or [create a new issue](https://github.com/xoopscube/documentation/issues/new).

## Guide introduction
<span class="iconify" data-icon="flat-ui:user-interface" data-inline="false"></span>
Check out these graph of the folders and the files included in Frontpage layout.
<aside class="notice">
You must replace <code>meowmeowmeow</code> with your personal API key.
</aside>
> To authorize, use this code:

```markdown
graph LR
    Localizable --- index
    index-->Home[En-JA]
    Home[En-JA]-->header
    Home[En-JA]-->title
    Home[En-JA]-->content
    Home[En-JA]-->footer
```

<span class="iconify" data-icon="flat-color-icons:workflow" data-inline="false" data-width="48" data-height="48"></span>

<span class="iconify" data-icon="flat-color-icons:tree-structure" data-inline="false" data-width="48" data-height="48"></span>

<div class="mermaid">
graph LR
    Localizable --- index
    index-->Home[En-JA]
    Home[En-JA]-->header
    Home[En-JA]-->title
    Home[En-JA]-->content
    Home[En-JA]-->footer
</div>

## Git Workflow

<div class="mermaid">
gitGraph:
options
{
  "nodeSpacing": 100,
  "nodeRadius": 10
}
end
commit
branch newbranch
checkout newbranch
commit
commit
checkout master
commit
commit
merge newbranch
</div>

### Prerequisites

The user-friendly solution is to download :

+ Virtualbox
+ Vagrant

Then, clone the repo to your local machine and start with command in a terminal 'vagrant up'

It will download, installl and setup a virtual machine.

### Locally

You're going to need:

 - **Linux, macOS or Windows**
 - **Ruby, version 2.3.1 or newer**
 - **Bundler** — If the `bundle` command doesn't work, just run `gem install bundler` in a terminal.

### Getting Set Up

1. Fork this repository on GitHub.
2. Clone *your forked repository* (not our original one) to your hard drive with `git clone https://github.com/YOURUSERNAME/documentation.git`
3. `cd slate`
4. Initialize and start. You can either do this locally, or with Vagrant:

```shell
# either run this to run locally
bundle install
bundle exec middleman server

# OR run with vagrant
vagrant up
```

You can now see the docs at http://localhost:4574.

Now that all is set up on your machine, you can start editing with HTML and Markdown.



Questions? Need Help? Found a bug?
--------------------

If you've got questions about setup, deploying, special feature implementation in your fork,
or just want to chat with the developer, please feel free to post an **issue** or **request**.
