---
title: Guides

language_tabs: # must be one of https://git.io/vQNgJ
  - php
  - md
  - html
  - javascript

toc_footers:
- <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> Guides</strong>
- <a href='/guides/development.html'>Development</a>
- <a href='/guides/design.html'>Documentation</a>
- <a href='/guides/delivery.html'>Delivery</a>
- <strong class="toc-menu-title"><span class="iconify" data-icon="uil:cube" data-inline="false"></span> XOOPSCUBE Project</strong>
- <a href='https://github.com/xoopscube/xcl'>XCL Web Application</a>
- <a href='https://github.com/xoopscube/documentation'>Documentation</a>
- <a href='https://github.com/xoopscube/modules'>Modules</a>
- <a href='https://github.com/xoopscube/themes'>Themes UI</a>
- <a href='https://github.com/xoopscube/i18n-language'>i18n-language</a>
- <a href='https://github.com/xoopscube/preload'>Preload Extensions</a>
- <a href='https://github.com/xoopscube/interface'>PHP Interfaces</a>

includes:
  - errors

search: true
home: false
---

# Guides

This website hosts the documentation reference for [XOOPS Cube](https://github.com/xoopscube)

You can view code examples in the page area to the right; switch the programming language of the examples with the tabs in the top right.

If anything is missing or seems incorrect, please check the [GitHub issues](https://github.com/xoopscube/documentation/issues)
for existing known issues or [create a new issue](https://github.com/xoopscube/documentation/issues/new).
  <h1>Git Workflow</h1>

# Layout components

  <span class="iconify" data-icon="flat-color-icons:tree-structure" data-inline="false" data-width="48" data-height="48"></span>

  <div class="mermaid">
  graph LR
      Localizable --- index
      index-->Home[En-JA]
      Home[En-JA]-->header
      Home[En-JA]-->title
      Home[En-JA]-->content
      Home[En-JA]-->footer
  </div>

# Git Workflow

<span class="iconify" data-icon="flat-color-icons:workflow" data-inline="false" data-width="48" data-height="48"></span>

> Render a workflow graph.

```md
gitGraph:
options
{
  "nodeSpacing": 100,
  "nodeRadius": 10
}
end
commit
branch newbranch
checkout newbranch
commit
commit
checkout master
commit
commit
merge newbranch
```
> Code HTML

```html
<div class="mermaid">
gitGraph:
options
{
  "nodeSpacing": 100,
  "nodeRadius": 10
}
end
commit
branch newbranch
checkout newbranch
commit
commit
checkout master
commit
commit
merge newbranch
</div>
```

<div class="mermaid">
gitGraph:
options
{
  "nodeSpacing": 100,
  "nodeRadius": 10
}
end
commit
branch newbranch
checkout newbranch
commit
commit
checkout master
commit
commit
merge newbranch
</div>

## Test

simple




