---
layout: frontpage
title: t

language_tabs: # must be one of https://git.io/vQNgJ
  - PHP
  - MySQL
  - Smarty
  - HTML
  - CSS
  - Javascript

toc_footers:
  - <strong>XOOPSCUBE Project</strong>
  - <a href='https://github.com/xoopscube/xcl'>XCL Web Application</a>
  - <a href='https://github.com/xoopscube/documentation'>Documentation</a>
  - <a href='https://github.com/xoopscube/modules'>Modules</a>
  - <a href='https://github.com/xoopscube/themes'>Themes UI</a>
  - <a href='https://github.com/xoopscube/i18n-language'>i18n-language</a>
  - <a href='https://github.com/xoopscube/preload'>Preload Extensions</a>
  - <a href='https://github.com/xoopscube/interface'>PHP Interfaces</a>

search: true
---

# Introduction

<%= I18n.t(:hello) %> World

Welcome to **XCL-Codemo**! A reference documentation for the XOOPSCUBE Project:

    [XCL - Web Application Platform](https://github.com/xoopscube/xcl)

**XCL-Codemo** includes representative code snippets and examples. You can use our API to access XCL API endpoints and code examples to extend the functionality, the user interface design and the user experience.

We have language bindings in PHP, MySQL, Smarty, HTML and JavaScript! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.

This example API documentation page was created to help developers, designers and webmasters running [XCL](https://github.com/xoopscube/xcl). Feel free to edit it and use it as a base to improve XCL's documentation.


<div class="mermaid">
graph LR
    A --- B
    B-->C[fa:fa-ban forbidden]
    B-->D(fa:fa-spinner);
</div>

<div class="mermaid">
  gitGraph:
    options
    {
      "nodeSpacing": 100,
      "nodeRadius": 10
    }
    end
    commit
  branch newbranch
  checkout newbranch
    commit
    commit
  checkout master
    commit
    commit
  merge newbranch
</div>
